body
{
    font-family: Arial;
    background: #efefef;
    margin: 0;
    padding: 0;
}
td, th
{
    border-color: #ccc;
}
td a
{
    color: #2180BC;
}

.main
{
    width: 992px;
    margin: 0 auto;
}
.main img
{
    border: 0;
}
.container
{
    background: #fff;
    float: left;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
}
#txtName
{
    width: 380px;
}
.gridId
{
    width: 100%;
    font-size: 12px;
}
.modalBackground
{
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}
.modalPopup
{
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 700px;
    height: auto;
}
.divAccordian
{
    background-color: #effbff;
    height: auto !important;
}
.lnkButton
{
    text-decoration: none;
    color: #2180BC;
    background: inherit;
    word-break: break-all;
}
.txtID
{
    width: 0px;
    border: 0px;
    color: White;
    visibility: hidden;
}
.selectedRow
{
    background-color: Yellow;
}
.leftcolumn
{
    width: 180px;
    float: left;
    margin-right: 20px;
}
.leftcolumn h2, .leftcolumn h3
{
    color: #215968;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #215968;
}
.leftcolumn h3
{
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    border-bottom: 1px dotted #215968;
}
.leftcolumn p
{
    color: #4a404f;
    font-size: 12px;
    padding-left: 20px;
}
/*#accordion
{
    width: 700px;
    margin: 0px auto;
}

#accordion h3
{
    cursor: pointer;
    margin: 0px 0px;
    padding: 7px 0px 7px 20px; 
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

#accordion .divAccordian
{
    background-color: #f0f0f1;
    padding: 0px;
    font-size: 11px;
    font-weight: 400;
    color: #000;
    height: auto;
}

#accordion h3.active
{
    
}*/
.accordionarea
{
    float: left; 
    width: 750px;
}
.accordion
{
    margin: 1em 0;
    float: left; 
    width: 750px;
}
.accordion h3
{
    background: url('http://localhost:38424/BibleThonWebPortal/Images/acc-bg1.png');
    color: #fff;
    cursor: pointer;
    margin: 0;
    padding: 4px 10px;
    height: 18px;
    color: #666;
    border: 1px solid #848284;
    margin-top: 2px;
}
.accordion h3.current
{
    background: url('http://localhost:38424/BibleThonWebPortal/Images/acc-bg.png');
    cursor: default;
    height: 18px;
    color: #000;
    border-bottom: 0;
}
.accordion div.divAccordian
{
    padding: 5px 10px;
    border: 1px solid #848284;
    border-top: 0;
}
.accordion div.divAccordian .txtarea
{
    color:#000;
}
.accordion h3 a, .accordion h3.current a
{
    font-size: 12px;
    color: #bdbabd;
    font-weight: normal;
    text-decoration: none;
}
.accordion div.divAccordian table
{
    font-size: 12px;
}
.accordion div.divAccordian td img
{
    border-color: #848284 !important;
}
.accordion h3.current a
{
    color: #000;
}
.redfnt
{
    color: Red;
}
.label
{
    color:#df3637;
}
.fifthpara .label
{
    width: 100px;
    color: #df3637;
}
.fifthpara .inputxt
{
    width: 200px;
    border: 1px solid #bfbfbf;
    height: 25px;
    background: #fff;
}
.fifthpara table
{
    padding: 20px;
}
.fifthpara .buttunback
{
    padding-top: 20px;
    padding: 0;
}
.forthpara
{
    padding: 20px 0;
}
.forthpara td, .forthpara tr
{
    padding: 0;
    margin: 0;
}
.forthpara input, .forthpara select
{
    background: none;
    border: 0;
}
.forthpara .label, .secondpara .label
{
    width: 60px;
    color: #df3637;
    padding: 0;
}
.forthpara .label
{
    width: 160px;
    color:#df3637;
}
.forthpara .txtarea, .fifthpara .txtarea
{
    background: #fff;
    border: 1px solid #ccc;
    padding: 3px;
}
.txtarea, .txtareabtm
{
    background: #fff;
    border: 1px solid #ccc;
    padding: 3px;
}
.order
{
    background: #fff;
    border: 1px solid #ccc;
    padding: 3px;
    height: 18px;
}
.secondpara .txtarea
{
    margin: 0;
}
.secondpara td
{
    border: 0;
}
.secondpara .buttunback, .forthpara .buttunback
{
    text-align:right
    }

.txtareabtm
{
    border-top: 0px solid #ccc;
}
.buttunback
{
    width: 100%;
    padding: 6px;
    border-top: 1px solid #ccc;
    text-align:right;
}
.tablehd th
{
    background: url(../../Images/table-bg.png);
    height: 20px;
    font-size: 12px;
}
.search
{
    background: url(../../Images/search_button.png) no-repeat #effbff;
    color: #f2f2f2;
    height: 22px !important;
    width: 29px;
    position: relative;
    text-indent: -9999;
    border: 0 !important;
    float: left;
    font-size: 1px;
}
.close, .btn
{
    background: url(../../Images/btn-bg.png);
    padding: 4px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #efefef;
    font-size: 11px;
}
.close:hover, .btn:hover
{
    background: url(../../Images/btn-bg1.png);
}
#imgSearch
{
    border: 0 none;
}
.errorinfo
{
    color: #df3637;
    clear: both;
    font-size:12px;
    background:#efefef;
    padding:6px 10px;
}
span.error
{
    margin-left: 350px;
    font-size: 0.8em;
    width: 600px;
}
.smalltxt
{
    min-width: 60px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 3px;
}
.total
{
    width:100%;
}
.totalright
{
    width:160px;
    text-align:right;
}
.totalright .txtarea
{
    float:right;
    margin-left:5px;
}
.total .label
{
    text-align:right;
}
.hafdiv
{
    width:350px;
}
.hafdiv td
{
    padding:3px;
}
.dollar
{
    float:left;
    padding-top:5px;
}