<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlbaBL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AlbaBL.Properties.Settings>
            <setting name="AlbaBL_AuthorizeNetWebSvc_Service" serializeAs="String">
                <value>https://apitest.authorize.net/soap/v1/Service.asmx</value>
            </setting>
        </AlbaBL.Properties.Settings>
    </applicationSettings>
</configuration>